body{
	margin: 8px;
	font-family: Verdana, Geneva, sans-serif;
}
.main-table {
	border: 0px;
	width: 85%;
	background-color: #f6f6ef;
	cellpadding: 0px;
	cellspacing: 0px; 
}

.nav-bar {
	background-color: #ff6000;
	max-height: 24px;
}

.nav-bar table{
	width: 100%;
}

.nav-bar table a{
	font-size: 14px;
	text-decoration: none;
	color: black;
	line-height: 12px;
}

.login_page {
	margin:8px;
	font-family: sans-serif;
}

.main-body td table tbody tr td{
	align: right;
	valign: top;

}

.voted {
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("/images/s.gif")
  no-repeat;
}

.delete {
    background:none!important;
     border:none; 
     padding:0!important;
     border-bottom:1px solid #444; 
     cursor: pointer;
   	 font-size: 10px;
}